*.idea/
*cmake-build-debug/
*CMakeLists.txt
*a.out
*matrix.o
*main.o
*test
*typeInfo.o
*Double.o
*Complex.o
*Int.o
*test_runner
*matrix_program
*tests/checkAllTests.o
*tests/test_matrix.o
*tests/test_types.o
obj